<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.AulaVirtualConnectionString"
            connectionString="Data Source=JUANP\SQLEXPRESS;Initial Catalog=AulaVirtual;Persist Security Info=True;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ABcConnectionString" connectionString="Data Source=ERICK;Initial Catalog=ABc;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ColegioConnectionString" connectionString="Data Source=JOHNCUA24\SQLEXPRESS;Initial Catalog=Colegio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>